<p>header works</p>
<nav class="navbar">
    <ul>
        <li class="list"><a href="#" class="">Equipment Rental </a>
        <!-- <ul>
            <li><a href="#" class="submenu" >Scissor Lifts</a> </li>
            <li><a href="#" class="submenu" > Boom Lifts</a></li>
            <li><a href="#" class="submenu" > Forklifts & Material Handling</a></li> 
             <li><a href="#" class="" >Single Man Lifts</a> </li>
            <li><a href="#" class="" > Construction Site Services</a></li>
            <li><a href="#" class="" > Earthmoving Equipment</a></li>
            <li><a href="#" class="" > Air Equipment</a></li>
            <li><a href="#" class="" >Cranes</a></li>
            <li><a href="#" class="" >Compaction Equipment</a></li>
            <li><a href="#" class="" >Construction Vehicles</a></li>
        </ul> -->
        </li>
        <li class="list"><a href="#" class="">HVAC </a></li>
        <li class="list"><a href="#" class=""> About</a></li>
        <li class="list"><a href="#" class=""> Think Big</a></li>
        <!-- <div class="searchbox"> searchbox</div> -->
    </ul>
</nav>    






    <!-- <ul>
        <li><a href="#" class="" ></a> Equipment Rental</li></a>
    <li>
        <li><a href="#" class="" >Scissor Lifts</a> </li>
        <li><a href="#" class="" ></a> Boom Lifts</li>
        <li><a href="#" class="" ></a> Forklifts & Material Handling</li>
        <li><a href="#" class="" ></a> Single Man Lifts</li>
        <li><a href="#" class="" ></a> Construction Site Services</li>
        <li><a href="#" class="" ></a> Earthmoving Equipment</li>
        <li><a href="#" class="" ></a> Air Equipment</li>
        <li><a href="#" class="" ></a> Cranes</li>
        <li><a href="#" class="" ></a> Compaction Equipment</li>
        <li><a href="#" class="" ></a> Construction Vehicles</li>
    </li>
    </ul>
    <ul>
        <a href="#" class="" ><li> HVAC</li></a>
    </ul>
    <ul>
        <a href="#" class="" ><li> About</li></a>
    </ul>
    <ul>
        <a href="#" class="" ><li> Think Big</li></a>
    </ul> -->

