<p>app comonent working navbar manu</p>
<hr>
<app-header></app-header>
<hr>
<app-boom-lifts></app-boom-lifts>
<hr>
<app-compaction-equipment></app-compaction-equipment>
<hr>
<app-construction-site-services></app-construction-site-services>
<hr>
<app-cranes></app-cranes>
<hr>
<app-earthmoving-equipment></app-earthmoving-equipment>
<hr>
<app-forklifts-material-handling></app-forklifts-material-handling>
<hr>
<app-scissor-lifts></app-scissor-lifts>
<hr>
<app-single-man-lifts></app-single-man-lifts>
<hr>
<app-footer></app-footer>
<!-- <div app-header></div> -->
<!--eliment -->
<!-- <div class="app-header"></div> -->
<!-- class-->
<!-- tag -->